<nav id="nav-bar" class="centerd-row">
    <ul class="centerd-row">
            <a class="link" href="/"><li class="nav-item">Home</a></li></a>
        {{#projects}}
            <a class="link" href="/{{descriptionUrl}}"><li class="nav-item">{{name}}</a></li></a>
        {{/projects}}
    </ul>
</nav>