<nav id="nav-bar" class="centerd-row">
    <ul class="centerd-row">
        {{#otherLinks}}
            <a class="link" href={{link}}><li class="nav-item">{{name}}</a></li></a>
        {{/otherLinks}}
        {{#projects}}
            <a class="link" href="/{{descriptionUrl}}"><li class="nav-item">{{name}}</a></li></a>
        {{/projects}}
    </ul>
</nav>