*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 600px;
    height: 450px;
    position: relative;
}

.image{
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#top{
   z-index: 40;
   overflow: hidden;
   width: 50%;
}

#bottom{
    z-index: 10;
    overflow: hidden;
    width: 100%;
}

#bar{
    position: absolute;
    left: 50%;
    height: 100%;
    width: 20px;
    z-index: 500;
    background-color: white;
}