
<section>

<h1>Welcome to my {{siteName}}</h1>

    <section id="projects">

    {{#projects}}
        <a class="link" href={{descriptionUrl}}>{{name}}</a>
    {{/projects}} 
    </section>

</section>