
    <h1>Welcome to my {{siteName}}</h1>
    {{#characters}}
        <h2>{{character}}</h2>
        <ul>
            {{#quotes}}
                {{.}}
            {{/quotes}}
        </ul>
    {{/characters}} 