.header {
    border: 10px solid black;
    height: 200px;
}

#logo {
    width: 200px;
    height: 200px;
    background: tomato;
    position: absolute;
    /* display: inline-block; */
}

#menu {
    width: 200px;
    height: 200px;
    background: violet;
    float: right;
    /* display: inline-block; */
}

p {
    font-size: 20px;
}
