@keyframes bulger {
    0% {
      transform: translateX(0%);
    }
    25% {
        width: translateX(40%)  
    }
    50% {
        transform: translateX(0%)  
    }
    75%
    {
        transform: translateX(-40%)  
    }
    100%
    {
        transform: translateX(0%)  
    }
  }

.bludge {
    animation-name: bulger;
    animation-duration: 1s;
    animation-iteration-count: infinite
}

header{
    top: 97px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    border: 3px black solid;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

header:active{
    transform: scale(1.2);
}

#man{
    width: 100%;
    position: relative;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.bit{
    width: 3px;
    background-color: blueviolet;
    position: absolute;
    border-radius: 3px
}

.face{
    position: absolute;
    left: 100px;
}

.eye{
    top: 55px;
    height: 40px;
    width: 20px;
    transform: rotate(90deg);
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    border-radius: 10px;
}

.eye:hover{
    top: 50px
}

#lefteye{
    left: 70px
}

#righteye{ 
    left: 130px;
}

#nose{
    top: 50%;
    height: 40px;
}

#mouth{
    border-radius: 5px;
    top: 60%;
    height: 80PX;
    transform: rotate(90deg)
}

.centerd{
     /* method one */
     /* translate: translateX(-50%);
     left: 50%; */
     /* method two */
     /* left: 0;
     right: 0;
     margin: auto; */
     /* Just from the border */
     left: 200px
}

.arm{
    top: 270px;
    height: 200px;
}

#righthand{
    border-radius: 10px;
    top: 250px;
    left: 432px;
    width: 50px;
    height: 50px
}

#body{
    top: 300px;
    height: 400px;
    left: 302px
}

#leftArm{
    left: 372px;
    transform: rotate(45deg);
}

#rightArm{
    left: 232px;
    transform: rotate(135deg);
}

footer{
    height: 300px;
    top: 679px;
}

#leftLeg{
    left: 377px;
    
    transform: rotate(150deg);
}

#rightLeg{

    left: 227px;
    top: 679px;
    transform: rotate(30deg);
    
}

#naughty{
    height: 100px;
    left: 302px;
    top: 700px;
}

#naughty:active{
    transform-origin: top center;
    transform: rotate(20deg) 
    /* transform: scale(1.2); */
}


